
Project Management/Notlar.txt
Project Management/Toplantı Notları.txt
Project Management/Toplantı Planı.txt
Project Management/Zaman Planlaması.txt
Project Management/klasör dizaynı.jpg
Project Management/Plan Çizelgesi.pdf
